{
	"StackBufLen": 4096,
	"LogLevel": "debug",
	"LogPath": "",
	
	"MaxConnNum": 20000,
	"PendingWriteNum": 2000,
	"MaxMsgLen": 4096,
	
	"WSAddr": "192.168.31.131:9877",	
	"HTTPTimeout": 10,
	
	"ChanRPCLen": 10000
}